*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive, 'Lato', sans-serif;
}

body {
    background-color: #d1bcd1;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#title {
    height: 90px;
    padding-top: 10px;
}

#logo {
    width: 380px;
    height: 60px;
}

#group-photo {
    width: 380px;
    height: 310px;
}

#mean-girls {
    width: 380px;
    height: 300px;
    padding: 20px 0px 5px;
}

.container {
    width: 800px;
    max-width: 80%;
    max-height: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 20px 1px;
    display: inline-block;
}

#question {
    font-size: 1.5em;
    padding: 0px 10px;
    text-align: center;
    margin: 0 auto;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    color: rgba(86,81,121,255);
    font-size: 1.5em;
    padding: 5px 10px;
    background-color: whitesmoke;
    border: 1px solid rgba(86,81,121,255);
    border-radius: 5px;
}

.btn:hover {
    border-color: rgba(189,159,189,255);
    background-color: rgba(189,159,189,255);
    color: whitesmoke;
}

.btn.correct {
    border-color: hsl(78, 47%, 55%, 1);
    background-color: hsl(78, 47%, 55%, 0.5);
    color: rgba(86,81,121,255);
}

.btn.wrong {
    border-color: hsl(0, 53%, 58%, 1);
    background-color: hsl(0, 53%, 58%, 0.5);
    color: rgba(86,81,121,255);
}

.start-btn {
    font-size: 1.5em;
    padding: 10px 20px;
}

.next-btn {
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container, .start.btn {
    width: fit-content;
}

.hide {
    display: none;
}